.chat__container {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  width: 350px;
  max-width: 95%;
  background-color: #202126;
  border-radius: 20px;
}

.chat__info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  align-items: center;
  padding: 15px;
}
.chat__info h3,
.chat__info img,
.icon {
  cursor: pointer;
}

.logo {
  width: 35px;
  height: auto;
  object-fit: cover;
}

.chat {
  height: 400px;
}

.info {
  background-color: #29292b;
  font-size: 0.7rem;
  padding: 10px;
  text-align: center;
}

.plus__container {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 50%;
  font-size: 0.7rem;
}

.keyboard__container {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keyboard__form {
  position: relative;
  width: 80%;
}

.keyboard {
  background-color: #29292b;
  border: none;
  border-radius: 20px;
  padding: 10px;
  padding-right: 85px;
  outline: none;
  color: white;
  display: block;
  width: 100%;
}

.icons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  top: 0.4rem;
  right: 0.4rem;
}

@media (max-width: 425px) {
  .chat__container {
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
  .logo {
    width: 40px;
  }
  .chat__info {
    font-size: 0.9rem;
    height: 10vh;
  }
  .chat {
    height: 65vh;
  }
  .info {
    height: 6vh;
    padding: 10px;
    position: fixed;
    bottom: 10vh;
    width: 100%;
  }
  .keyboard__container {
    font-size: 1rem;
    position: fixed;
    height: 10vh;
    width: 100%;
    bottom: 0;
  }
  .keyboard {
    padding: 10px;
    padding-right: 85px;
    font-size: 0.8rem;
  }
  .plus__container {
    width: 15px;
    height: 15px;
    font-size: 0.7rem;
  }
  .icons {
    top: 0.4rem;
    right: 0.5rem;
  }
}

.chat {
  overflow-y: auto;
}

.message__container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.message {
  max-width: 60%;
  margin: 0.5rem 1rem;
  padding: 5px;
  border-radius: 10px;
  position: relative;
  word-wrap: break-word;
}

@keyframes appearFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes appearFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.message::before {
  content: "";
  position: absolute;
  top: 0;
  width: 20px;
  height: 20px;
  z-index: -10;
}

.message.incoming {
  background-color: #2a2a2a;
  align-self: flex-start;
  animation: appearFromLeft 500ms ease-out;
}

.message.incoming::before {
  left: -10px;
  background: linear-gradient(
    225deg,
    #2a2a2a 0%,
    #2a2a2a 50%,
    transparent 50%,
    transparent
  );
}

.message.outgoing {
  color: black;
  background-color: #7d9fdc;
  align-self: flex-end;
  animation: appearFromRight 500ms ease-out;
}

.message.outgoing::before {
  right: -10px;
  background: linear-gradient(
    135deg,
    #7d9fdc 0%,
    #7d9fdc 50%,
    transparent 50%,
    transparent
  );
}

.submit {
  border: 1px solid white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 25px;
  height: 25px;
  font-size: 0.8rem;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  transition: background-color 300ms;
  cursor: pointer;
}

.submit:hover {
  background-color: rgba(200, 200, 200, 0.1);
}
