.app__header {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: space-between;
  padding: 20px 1vw;
  font-size: 1rem;
}

.back__button {
  background-color: transparent;
  color: white;
  font-weight: 700;
  height: fit-content;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px -2px rgb(200, 200, 200);
  border-radius: 20px;
  padding: 10px;
  transition: all 300ms;
  background-color: rgba(85, 51, 153, 0.1);
}

.back__button:hover {
  background-color: rgba(100, 75, 153, 0.35);
  box-shadow: 0 0 10px rgb(200, 200, 200);
}

.div__email,
.div__amount {
  font-weight: 600;
}

.div__email span,
.div__amount span {
  font-weight: 400;
}

.app__info {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  padding: 5px 0px;
}

.comprobante {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 90%;
  width: 900px;
  margin: auto;
}

.comprobante__title {
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.comprobante div {
  width: 50%;
  padding: 5px;
  border: solid white 1px;
}

.comprobante div:nth-child(odd) {
  text-align: left;
  font-weight: bold;
}

.comprobante div:nth-child(even) {
  text-align: right;
}

#amount {
  background-color: rgba(255, 255, 255, 0.3);
  margin: 1rem auto;
  border-radius: 10px;
  padding: 1rem;
  max-width: 90%;
  width: 900px;
  text-align: center;
  font-weight: bolder;
  font-size: 1.3rem;
}

.logo {
  width: 40px;
  height: auto;
  object-fit: cover;
}

.check {
  width: 40px;
  height: auto;
  margin: auto;
  text-align: center;
  font-size: 2rem;
  border-radius: 50%;
  font-weight: bolder;
  background-color: rgb(4, 83, 255);
}

@media (max-width: 600px) {
  .comprobante {
    font-size: 10px;
  }
  #amount {
    font-size: 0.9rem;
  }
  .logo {
    display: none;
  }
}
