.landing_page_video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: absolute;
  z-index: -50;
}

.landing_page_header {
  position: fixed;
  width: 100%;
  max-width: 1400px;
  transition: transform 0.5s ease;
}

.landing_page_navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 1.5rem 0px;
}

.landing_page_navbar_ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
}

.landing_page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.landing_page_title {
  font-size: 4rem;
}

.landing_page_subtitle {
  font-weight: 500;
  font-family: "Courier New", Courier, monospace;
}

.navbar_title:hover {
  color: #00f2ff;
  cursor: pointer;
}

.navbar_title {
  text-align: center;
}

.login_link,
.signup_link {
  text-decoration: none;
}

.login_link:hover,
.signup_link:hover {
  color: #00f2ff;
}

.login_button,
.signup_button {
  min-width: 5rem;
  padding: 0.8rem;
  border-radius: 5rem;
  border: none;
  background-image: linear-gradient(to right, #ffffff, #a3a3a3);
  transition: background-image 5s ease;
}

.login_button:hover,
.signup_button:hover {
  background-image: linear-gradient(to right, #ffffff, #00f2ff);
  box-shadow: 0px 0px 20px 1px #00f2ff;
  cursor: pointer;
}

.logo {
  width: 2rem;
  height: auto;
}

.toggle_button,
.toggle_button_navbar,
.toggle_layer,
.logo {
  display: none;
  position: absolute;
}

@media (max-width: 600px) {
  .landing_page {
    height: 90vh;
  }
  .toggle_layer-show {
    position: fixed;
    display: block;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .toggle_button {
    display: block;
    z-index: 30;
    width: 2.5rem;
    height: 2.5rem;
    right: 10px;
    top: 10px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 300ms ease;
  }
  .toggle_button:hover {
    background-color: rgba(100, 100, 100, 0.6);
  }
  .bars {
    color: white;
    font-size: 1.5rem;
  }
  .backArrow {
    color: white;
    font-size: 1.5rem;
  }
  .toggle_button_navbar {
    display: block;
    border: none;
    background-color: transparent;
    left: 10px;
    top: 10px;
    cursor: pointer;
  }
  .logo {
    display: block;
    right: 10px;
    top: 10px;
  }
  .landing_page_header {
    width: 50%;
    min-width: 250px;
    background-color: #1e293b;
    right: 0;
    height: 100vh;
    transform: translateX(100%);
    z-index: 50;
  }
  .landing_page_header-show {
    transform: translateX(0%);
  }
  .landing_page_navbar {
    flex-direction: column;
  }
  .landing_page_navbar_ul {
    flex-direction: column;
  }
  .landing_page_navbar_ul li:first-child {
    margin-top: 1.5rem;
  }
}
