.login__container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.4),
    0 8px 10px -6px rgb(0 0 0 / 0.4);
  height: 90%;
  width: 100%;
  border-radius: 20px;
  display: flex;
  min-width: 275px;
  width: 70%;
  max-width: 1400px;
}

.login__div-main,
.login__div-IMG,
.login__button {
  width: 100%;
  overflow: hidden;
}

.login__div-main {
  text-align: center;
  padding: 3vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.loginIMG {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 0px 0px 20px;
  transition: scale 1s ease;
}

.logo {
  width: 1.5rem;
  height: auto;
}

.loginIMG:hover,
.index__link:hover + .loginIMG {
  scale: 1.1;
}

.login__div-IMG {
  position: relative;
}

.signup__link,
.index__link {
  font-weight: 600;
}

.index__link {
  position: absolute;
  z-index: 20;
  top: 1rem;
  left: 1rem;
  text-decoration: none;
  font-size: 1.5rem;
  transition: scale 300ms ease;
}

.index__link:hover {
  scale: 1.02;
}

.login__form {
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login__input,
.login__label,
.login__button {
  display: block;
  width: 100%;
}

.login__input {
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  margin-top: 0.5rem;
}

.login__button {
  background-color: #2563eb;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 1rem;
  transition: background-color 300ms ease;
}

.login__button:focus {
  box-shadow: 0 0 0 3px #000, 0 0 0 4px #fff;
}

.login__button:hover {
  background-color: #1553db;
}

.login__fieldset {
  border: none;
}

.backLink {
  display: none;
}

@media (max-width: 600px) {
  .login__div-IMG {
    display: none;
  }
  .backLink {
    display: block;
    position: absolute;
    left: 1rem;
    top: 1rem;
    cursor: pointer;
  }
  .backArrow {
    font-size: 1.2rem;
  }
}
