body {
  display: flex;
  min-height: 90vh;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
}

hr {
  background-color: red;
  z-index: 10;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  animation: move 4200ms ease-out infinite;
}

@keyframes move {
  0% {
    top: 0;
  }
  50% {
    top: calc(100% - 10px);
  }
  100% {
    top: 0;
  }
}

.qrDiv {
  position: relative;
  max-width: 90%;
}

.qrIMG {
  aspect-ratio: 1 / 1;
  max-width: 100%;
  width: 300px;
  height: auto;
}

.message {
  display: flex;
}

.message::after {
  content: "...";
  width: 1ch;
  overflow: hidden;
  animation: 1800ms typing steps(4) infinite;
  font-family: "Courier New";
}

@keyframes typing {
  from {
    width: 0ch;
  }
  to {
    width: 4ch;
  }
}

.backLink {
  display: block;
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: pointer;
}
.backArrow {
  font-size: 1.2rem;
}
@media (max-width: 600px) {
  .message {
    font-size: 1.5rem;
  }
}
