.chat__container {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  width: 350px;
  max-width: 95%;
  background-color: #202126;
  border-radius: 20px;
}

.search__bar {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  align-items: center;
  padding: 15px;
}

.logo {
  width: 35px;
  height: auto;
  object-fit: cover;
  align-items: self-start;
}

.contact {
  padding: 10px 20px 10px 10px;
}

.contact__logo {
  width: 40px;
  height: auto;
  object-fit: cover;
}

.contacts__menu {
  height: 600px;
}

.date {
  margin-left: 280px;
}

/*.table__contact{
  width: 80px;
}

.img__contact {
  width: 70px;
}

.table__box {
  border: 1px solid #1681da;
  margin: auto;
  width: 500px;
  max-width: 80%;
  height: 100px;
}

.text__box {
  border: 1px solid #1681da;
  display: flex;
  align-items: center;
}

.text__box_stuff {
  display: flex;
  align-items: center;
  max-width: 80%;
  height: 400px;
}

.text__context {
  text-align: center;
  text-shadow: 2px 2px 5px #0c1c66;
  margin-left: 5px;
}

.text__contact {
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 2px 5px #0c1c66;
  margin-left: 30px;
}