.table__contact{
  width: 100px;
}

.img__contact{
  width: 70px;
}

.table__box{
  margin: auto;
  width: 500px;
}

.text__box{
  border: 3px double #1681da;
  display: flex;
  align-items: center;
  max-width: 80%;
  height: 100px;
}

.text__box_stuff{
  border: 3px double #1681da;
  display: flex;
  align-items: center;
  max-width: 80%;
  height: 600px;
}