.table__contact {
  width: 80px;
}

.img__contact {
  width: 70px;
}

.table__box {
  border: 1px solid #1681da;
  margin: auto;
  width: 500px;
  max-width: 80%;
  height: 100px;
}

.text__box {
  border: 1px solid #1681da;
  display: flex;
  align-items: center;
}

.text__box_stuff {
  display: flex;
  align-items: center;
  max-width: 80%;
  height: 400px;
}

.text__context {
  text-align: center;
  text-shadow: 2px 2px 5px #0c1c66;
  margin-left: 5px;
}

.text__contact {
  font-size: 35px;
  text-align: center;
  text-shadow: 2px 2px 5px #0c1c66;
  margin-left: 30px;
}
