.chat__container {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 1rem;
  width: 350px;
  max-width: 95%;
  background-color: #202126;
  border-radius: 20px;
}

.icon,
.search__bar img,
.search__bar h2 {
  cursor: pointer;
}

.search__bar {
  display: flex;
  justify-content: space-between;
  height: 10vh;
  font-size: 0.9rem;
  align-items: center;
  padding: 15px;
  background-color: #29292b;
  border-radius: 20px 20px 0px 0px;
}

.search__bar .icon {
  font-size: 1.2rem;
}

.smsIMG {
  width: 40px;
  height: 40px;
  object-fit: cover;
  filter: invert(100%);
}

.contacts__menu {
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  padding-left: 0.5rem;
}

.contact {
  display: flex;
}

.image__container {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profileIMG {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.chat {
  width: 70%;
  padding: 10px;
}

.chat p {
  margin-top: 3px;
  font-size: 0.7rem;
}

.date {
  width: 15%;
  font-size: 0.7rem;
  font-weight: bold;
  padding-top: 10px;
}

.start__chat {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 40%;
  padding: 15px;
  font-weight: bold;
  font-size: 0.8rem;
  color: black;
  background-color: #8ab5f9;
  border-radius: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.start__chat i {
  font-size: 1.3rem;
}

@media (max-width: 425px) {
  .chat__container {
    top: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
  .search__bar {
    border-radius: 0px;
  }
}
