* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: white;
}

.body-blue {
  background-color: #1e293b;
}

.body-black {
  background-color: #000000;
}

a:visited,
a {
  color: white;
}

.container {
  margin: auto;
  width: 70%;
  max-width: 1400px;
}

@media (max-width: 600px) {
  .container {
    width: 95%;
  }
}
